<table align="center" width=100%>
    <tr>
        <td width="10%">
            <img src="in_class.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Inclass-Lab  <br>(Day 1)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Table of Content

1. **[Using print()](#print)**
2. **[Data types](#types)**
3. **[Arithmetic Operations](#arithmetic)**
4. **[Boolean Operations](#boolean)**
5. **[Concatenation](#concatenation)**
6. **[Pseudo Codes](#pseudo)**

### Let's begin with some hands-on practice exercises

<a id="print"> </a>
## 1. Using print()

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. To display a statement. For example, "Hello, How are you?" </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
# type your code here
print("Hello, How are you?")

Hello, How are you?

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Display the following pattern using print() </b>
                </font>
            </div>
        </td>
    </tr>
</table>

            *    
           ***    
          *****   
         *******  
        *********

In [2]:
# type your code here
n=5 #rows
for i in range(1,n+1): #loop for rows
    print(" " *(n-i) + "*" *(2*i-1)) #print spaces and stars

    *
   ***
  *****
 *******
*********

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Write the alphabets 'A', 'B', 'C' on new lines using a single print function. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [3]:
# type your code here
print(' A\n','B\n','C\n')

 A
 B
 C

<a id="types"> </a>
## 2. Data types

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Create a string, a numeric and boolean variables by assigning variable names. Further, check their datatype. For numeric variable check for whole numbers and numbers with decimal point.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Declare a string variable and check its data type.**

In [4]:
# type your code here

#string
name='"Aman Raj'
print(name)
print(type(name))

#numeric
number=89
print(number)
print(type(number))

#float
dec_num=48.8
print(dec_num)
print(type(dec_num))

#whole number
num=45
print(num)
print(type(num))

#boolean
status=True
print(status)
print(type(status))

"Aman Raj
<class 'str'>
89
<class 'int'>
48.8
<class 'float'>
45
<class 'int'>
True
<class 'bool'>

**Declare a numeric variable and check its data type.** <br>
i. An interger variable.

In [5]:
# type your code here
num_var=45
print(num_var)
print(type(num_var))

45
<class 'int'>

ii. A fractional variable

In [6]:
# type your code here
frac_var=15/2
print(frac_var)
print(type(frac_var ))

7.5
<class 'float'>

**Declare a boolean variable and check its data type.**

In [7]:
# type your code here
status=True
print(status)
print(type(status))

True
<class 'bool'>

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Write a complex number and assign it the name 'comp_var'</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [8]:
# type your code here
comp_var=5+6j
print(comp_var)
print(type(comp_var))

(5+6j)
<class 'complex'>

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Convert a float variable f = 23.45 to integer.  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [9]:
# type your code here
float_var=23.45
print(int(float_var))

23

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Create a numberic variable and convert it to a string.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [10]:
# type your code here
num_var=45
print(num_var)
print(type(num_var))
print(str(num_var))
print(type(str(num_var)))

45
<class 'int'>
45
<class 'str'>

<a id="arithmetic"></a>
## 3. Arithmetic Operations

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Evaluate 145 into 354 minus 1345 divided by 45 plus (462 plus 23) divided by 3. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [11]:
# type your code here
value=(145 * 354) - (1345 / 45) + ((462 + 23) / 3)
print(round(value,3))

51461.778

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Evaluate  and print the results of the following <br>
                        <ol type = '1'> 
                            <li> 1353 plus 234 </li> 
                            <li> 2355 minus 346 </li>
                            <li> 234 times 457 </li>
                            <li> 25 divided by 6 </li>
                            <li> Obtain remainder of  25 divided by 6 </li>
                            <li> 33 raised to 4 </li> 
                            <li> 45 divided by 6  (floor division)
                            <li> 2 raised to 10</li></ol>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [12]:
# type your code here
#1
sum=(1353+234)
print(sum)

#2
diff=(2355-346)
print(diff)

#3
mul=(457*234)
print(mul)

#4
div=float(25/6)
print(div)

#5
rem=(25%6)
print(rem)

#6
exp=(33**4)
print(exp)

#7
floor_div=(45//6)

#8
exp=(2**10)
print(exp)

1587
2009
106938
4.166666666666667
1
1185921
1024

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Calculate BMI of a person (take input for height and weight from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [13]:
weight = 40 #kg
height = 70 #m2

# Calculating BMI
bmi = weight / (height ** 2)

# Printing the result
print("Your BMI is:", round(bmi, 2))

Your BMI is: 0.01

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Check whether the expression (54+34)* 45 is equal to the expression (0.9*2432)/0.9 </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [14]:
# type your code here
c1=(54+34)*45
c2=(0.9*2432)/0.9
print(c1)
print(c2)
print(c1==c2)

3960
2432.0
False

<a id="concatenation"></a>
## 5. Concatenation

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Create two strings and concatenate them using '+' operator. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [15]:
# type your code here
player='mahendra '+'singh '+'Dhoni'
print(player)

mahendra singh Dhoni

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Concatenate the variables 'num = 34 and 'string ='How old are you?' using '+' operator. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [16]:
# type your code here
num=34
string='how old are you?'
variable=string+str(num)
print(variable)

how old are you?34

<a id="pseudo"> </a>
## 6. Pseudo Codes

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. Write a pseudo code to print table of 5 using 'for' loop.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# type your code here
Begin
    For i From 1 to 10 do
        Print "5 x", i, "=", 5 * i
    End for
End

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Write a pseudo code for generating a fibonacci series starting with 0 and 1 for 10 values using while loop. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [0]:
# type your code here

BEGIN
    SET n = 10  // Number of terms
    SET a = 0
    SET b = 1
    SET i = 0

    WHILE i < n DO
        PRINT a
        SET temp = a + b
        SET a = b
        SET b = temp
        INCREMENT i BY 1
    END WHILE
END

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. Write a pseudo code to know whether a number is greater than the other using 'if' statement. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# type your code here
BEGIN
    INPUT num1
    INPUT num2

    IF num1 > num2 THEN
        PRINT "num1 is greater than num2"
    ELSE IF num1 < num2 THEN
        PRINT "num2 is greater than num1"
    ELSE
        PRINT "Both numbers are equal"
    END IF
END

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. Write a pseudo code to check whether a number is divisible by 7 or not using if else statement. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [0]:
# type your code here
BEGIN
    INPUT num

    IF num % 7 = 0 THEN
        PRINT "The number is divisible by 7"
    ELSE
        PRINT "The number is not divisible by 7"
    END IF
END

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>18. Write a pseudo code to find factorial of a number using nested if-else statement. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [0]:
# type your code here
BEGIN
    INPUT num
    SET fact = 1

    IF num < 0 THEN
        PRINT "Factorial is not defined for negative numbers"
    ELSE
        IF num = 0 OR num = 1 THEN
            PRINT "Factorial of", num, "is 1"
        ELSE
            SET i = 1
            WHILE i ≤ num DO
                SET fact = fact * i
                INCREMENT i BY 1
            END WHILE
            PRINT "Factorial of", num, "is", fact
        END IF
    END IF
END

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19. Write a pseudo to know whether a number is prime or not using for and if else statement.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [0]:
# type your code here
BEGIN
    INPUT num
    SET isPrime = True

    IF num ≤ 1 THEN
        PRINT "Not a prime number"
    ELSE
        FOR i = 2 TO num - 1 DO
            IF num MOD i = 0 THEN
                PRINT "Not a prime number"
                SET isPrime = False
                BREAK
            END IF
        END FOR

        IF isPrime = True THEN
            PRINT "Prime number"
        END IF
    END IF
END